@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 229, 231, 235;
  --foreground-rgb: 17, 24, 39;
}

.dark {
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
  --foreground-rgb: 249, 250, 251;
}

/* --- THIS IS THE FIX --- */
html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}